.custom-card {
    width: 100%;
    height: 100%;
    overflow: visible;
    cursor: pointer;
    position: relative;
  }
  
  .custom-card::before,
  .content {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #00000022;
    transition: transform 300ms, box-shadow 200ms;
  }
  
  .custom-card::before {
    position: absolute;
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ee9933;
    transform: rotateZ(0deg);
  }
  
  .custom-card.status-not-started::before {
    background-color: var(--light-red-color);
  }
  .custom-card.status-in-progress::before {
    background-color: var(--light-green-color);
  }
  .custom-card.status-complete::before {
    background-color: var(--light-blue-color);
  }
  
  .custom-card .content {
    position: relative;
    width: 100%;
    height:100%;
    background-color: white;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap:20px
    /* transform: rotateZ(-5deg); */
  }
  
  .top-section{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:5px
  }
  
  .bottom-section{
    display: flex;
    flex-direction: column;
    gap:5px
  }
  
  /* .custom-card:hover::before {
    transform: rotateZ(8deg);
  } */
  
  .custom-card:active::before,
  .custom-card:active .content {
    box-shadow: none;
  }
  
  /* content css */
  
  .content {
    display: flex;
    flex-flow: column;
  }
  
  .content .status {
    position: absolute;
    height: 40px;
    top: 0;
    right: 0;
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.625em 0.75em;
    font-weight: 600;
  }
  
  .status-not-started .status {
    background-color: var(--light-red-color);
    color: var(--dark-red-color);
  }
  .status-in-progress .status {
    background-color: var(--light-green-color);
    color: var(--dark-green-color);
  }
  .status-complete .status {
    background-color: var(--light-blue-color);
    color: var(--dark-blue-color);
  }
  
  .description {
    flex: 1;
  }
  
  @media (min-width: 600px) {
    /* .custom-card{
      width: 29%;
    } */
  
    .custom-card:hover::before {
      transform: rotateZ(8deg);
    }
  }
  
  @media (min-width: 800px) {
    /* .custom-card{
      width: 21%;
    } */
  }