

.show {
  display: block;
}

.hide {
  display: none;
}

.card-props{
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

.hide-container {
    left: -200px;
}

.emptyContainer{
  background-color: rgba(0, 0, 0, 0.473);
  position: absolute;
  top:0;
  left:200px;
  height:100vh;
  width: 100vw;
  z-index: 5;
}

.navbar{
  background-color: rgb(255, 255, 255);
  width: calc(130vw);
  height:var(--navbar-height);
}

.sidebar__toggle {
  position: absolute;
  cursor: pointer;
  left: 0;
  width: var(--navbar-height);
  height: var(--navbar-height);
  background-color: #5E72EB;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.sidebar__toggle.rotate {
    left: 160px;
}

.sidebar__toggle-icon {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}

.sidebar__logo {
  cursor: pointer;
  transition-duration: 500ms;
  height: 40px;
}

.sidebar__logo.rotate {
  transform: rotate(360deg);
}

/* small screen size only */
@media (max-width: 768px) {
}
