/* .show {
  display: block;
}

.hide {
  display: none;
} */

.card-props {
  width: var(--sidebar-width);
  position: relative;
  transition: left 0.5s ease-in-out;
}

.hide-container {
  left: calc(var(--sidebar-width) * -1);
}

.emptyContainer {
  background-color: rgba(0, 0, 0, 0.473);
  position: absolute;
  top: 0;
  left: var(--sidebar-width);
  height: 100%;
  z-index: 5;
}

.emptyContainer.close {
  width: 0%;
}

.emptyContainer.open {
  width: calc(100vw - var(--sidebar-width));
  animation: expandAnimation 0.5s ease-in-out;
}

@keyframes expandAnimation {
  0% {
    width: 100vw;
  }
  100% {
    width: calc(100vw - var(--sidebar-width));
  }
}

.logo-container {
  position: relative;
  z-index: 6;
}

.navbar {
  background-color: rgb(255, 255, 255);
  height: var(--navbar-height);
  position: absolute;
  z-index: 4;
}

.navbar-open-width {
  width: 100vw;
}

.navbar-close-width {
  width: calc(100vw);
}

.sidebar__toggle {
  position: absolute;
  cursor: pointer;
  width: var(--navbar-height);
  height: var(--navbar-height);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.5s ease-in-out;
}

.sidebar__toggle.close {
  background-color: #5e72eb;
  right: calc(100% - var(--navbar-height));
}

.sidebar__toggle.open {
  right: calc(100vw - var(--sidebar-width));
  animation: rotateAnimation 0.5s;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sidebar__toggle-icon {
  color: #ffffff;
  text-align: center;
  font-size: 23px;
}

.sidebar__logo {
  cursor: pointer;
  transition-duration: 500ms;
  height: 40px;
}

.sidebar__logo.open {
  transform: rotate(360deg);
}

.sidebar-link-container {
  text-decoration: none;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: 0.7em;
  padding-inline: 1em;
  gap: 0.5em;
}

.sign-out-button{
  width: var(--sidebar-width);
  position: absolute;
  bottom:0
}

@media (min-width: 600px) {
  .sidebar-link-container {
    padding-block: 1em;
    padding-inline: 1.5em;
    gap: 4em;
  }
}

@media (min-width: 800px) {
  .sidebar-link-container {
    padding-block: 1em;
    padding-inline: 1.9em;
    gap: 1em;
  }
}
