

/* .show {
  display: block;
}

.hide {
  display: none;
} */

.card-props{
    width: var(--sidebar-width);
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.5s ease-in-out;
}

.hide-container {
    left: calc(var(--sidebar-width)*-1);
}

.emptyContainer{
  background-color: rgba(0, 0, 0, 0.473);
  position: absolute;
  top:0;
  left:var(--sidebar-width);
  height:100vh;
  z-index: 5;
}

.emptyContainer.close{
  width: 0%;
}

.emptyContainer.open{
  width:calc(100vw - var(--sidebar-width));
  animation: expandAnimation 0.5s ease-in-out;
}

@keyframes expandAnimation {
  0% {
    width: 100vw;
  }
  100% {
    width: calc(100vw - var(--sidebar-width));
  }
}


.logo-container{
  position: relative;
  z-index: 6;

}

.navbar{
  background-color: rgb(255, 255, 255);
  height:var(--navbar-height);
  position: absolute;
  z-index: 4;
}

.navbar-open-width{
  width: 100vw;
}

.navbar-close-width{
  width: calc(100vw);
}

.sidebar__toggle {
  position: absolute;
  cursor: pointer;
  width: var(--navbar-height);
  height: var(--navbar-height);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.5s ease-in-out; 
}

.sidebar__toggle.close {
  background-color: #5E72EB;
  right: calc(100% - var(--navbar-height));
}

.sidebar__toggle.open {
    right: calc(100vw - var(--sidebar-width));
}

.sidebar__toggle-icon {
  color: #ffffff;
  text-align: center;
  font-size: 23px;
}

.sidebar__logo {
  cursor: pointer;
  transition-duration: 500ms;
  height: 40px;
}

.sidebar__logo.rotate {
  transform: rotate(360deg);
}

/* small screen size only */
@media (max-width: 768px) {
}
