.project-card {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
    text-decoration: none;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .date {
    font-size: 0.875rem;
    color: #a0aec0;
  }
  
  .project-name {
    font-size: 1.875rem;
    color: #4a5568;
  }
  
  .task-status {
    color: #9f7aea;
  }

  
  .text-right {
    text-align: right;
  }
  
  .progress {
    font-size: 0.875rem;
    color: #4a5568;
    font-weight: 600;
  }
  