:root {
  --primary-border-radius: 0.7em;
  --secondary-border-radius: 0.4em;
  --primary-primary-distance:2rem;
  --primary-secondary-distance:1rem;
  --title-size: 40px;
  --header-size: 30px;
  --sub-header-size: 20px;
  --body-size: 14px; 
  --color-0:#5E72EB;
  --color-1: #4B92FF;
  --color-2: #B7E3FF;
  --color-3: #E7EFF2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* filter: invert(1); */
  }

/* hide scrollbar */
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}


  html {
    height: 100%;
  }
  
  body {
    margin: 0;
    height: 100%;
  }

  .testClass{
    border: 2px solid red !important;
  }
  .rainbow-mesh {
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  }
  
  .candy-mesh {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
  }
  /* .candy-mesh {
    background-color: #fff;
  } */

  .pure-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .glass {
    background: rgba(255, 255, 255, 0.19);
    border-radius: var(--primary-border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .card {
    border-radius: var(--primary-border-radius);
    padding: 10px;
    padding-top: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
  }

.column-flex-container{
  display: flex;
  flex-flow: column wrap;
}

.row-flex-container{
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.card-row-flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1em;
}

.card-container{
  width: 100%;
}

.card-row-flex-container::after {
  content: "";
  width: 100%;
}
 
.text-center{
  text-align: center;
}

.sidebar-container{
  align-items: center;
  border-radius: 0;
  height: 100%;
  gap:1rem;
  margin:0;
}

.sidebar-container :nth-child(2) {
  margin-top: var(--primary-primary-distance);
}

.tab-normal{
  color: var(--color-1);
  padding: 0.5rem;
  border-radius: var(--primary-border-radius);
}

.tab-active{
  background-color: var(--color-0);
  color: white
}

.logo-container{
  width:4rem;
  height:4rem
}

.medium-container{
  width: 100%;
}

.small-container{
  width: 100%;
}

.title-font {
  font-size: var(--title-size);
  font-family: var(--font-title);
  color: #333333;
}

.header-font {
  font-size: var(--header-size);
  font-family: var(--font-header);
  color: #555555;
}

.sub-header-font {
  font-size: var(--sub-header-size);
  font-family: var(--font-sub-header);
  color: #777777;
}

.body-font {
  font-size: var(--body-size);
  font-family: var(--font-body);
  color: #999999;
}


/* progress bar style */
.progress-bar {
  width: 100%;
  height: 0.7em;
  background-color: var(--color-3);
  border-radius: var(--secondary-border-radius);
  margin-bottom: 0.5rem;
}

.progress-bar-fill {
  height: 100%;
  text-align: center;
  font-size: 0.75rem;
  color: #fff;
  background-color: var(--color-0);
  border-radius: 9999px;
}

/* broder radius  */
.primary-border-radius {
  border-radius: var(--primary-border-radius);
}

.secondary-border-radius {
  border-radius: var(--secondary-border-radius);
}

@media(min-width: 600px){
  .medium-container{
    width: 80%;
  }

  .small-container{
    width: 60%;
  }

  .card-container{
    /* min-width: fit-content; */
    width: 60%;
  }
  
  .card-row-flex-container::after {
    content: "";
    width: 60%;
  }

}

@media(min-width: 800px){
  .medium-container{
    width: 60%;
  }

  .small-container{
    width: 30%;
  }

  .extra-small-container{
    width: 15%;
  }

  .smallest-container{
    width: 5%;
    text-align: center;
  }

  .card-container{
    /* min-width: fit-content; */
    width: 30%;
  }
  
  .card-row-flex-container::after {
    content: "";
    width: 30%;
  }

}