:root {
  --primary-border-radius: 0.7em;
  --secondary-border-radius: 0.4em;
  --primary-primary-distance: 2rem;
  --primary-secondary-distance: 1rem;
  --title-size: 2rem;
  --header-size: 1.3rem;
  --sub-header-size: 1rem;
  --body-size: 0.87rem;
  --navbar-height: 40px;
  --navbar-bottom-margin: 10px;
  --padding : 2%;
  --color-0: #5e72eb;
  --color-1: #4b92ff;
  --color-2: #b7e3ff;
  --color-3: #e7eff2;
  --color-red: #ffa1b3;
  --color-green: #cbf5af;
  --color-blue: #b7e3ff;
  --background-color: #d9dbdd;
  --card-color: #f9f8fb;

  --light-red-color:#ffbdc9;
  --light-green-color:#C9F9CD;
  --light-blue-color:#C8EBF8;

  --dark-red-color:#F55050;
  --dark-green-color:#538e15;
  --dark-blue-color:#5E72EB;

  --full-screen-height:  calc(100% + var(--navbar-height) + var(--navbar-bottom-margin) + var(--padding ) + var(--top-content-height));

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* filter: invert(1); */
}

/* hide scrollbar */
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

html {
  height: calc(100% + var(--navbar-height) + var(--navbar-bottom-margin) + var(--padding ) + var(--top-content-height) + 2%);
}

body {
  margin: 0;
  height: 100%;
}

.testClass {
  border: 2px solid red !important;
}
.rainbow-mesh {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.candy-mesh {
  background-color: var(--background-color);
}
/* .candy-mesh {
    background-color: #fff;
  } */

.pure-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: rgba(255, 255, 255, 0.19);
  border-radius: var(--primary-border-radius);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card {
  border-radius: var(--primary-border-radius);
  padding: 10px;
  padding-top: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: var(--card-color);
}

.column-flex-container {
  display: flex;
  flex-flow: column wrap;
}

.row-flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.center-of-screen {
  justify-content: center;
  align-items: center;
}

.new-project-container{
  /* height:6% */
  width: 100%;
}

.card-row-flex-container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 2%;
  padding: 1%;
}

.card-container {
  width: 100%;
  /* height: 50%; */
}

.card-row-flex-container::after {
  content: "";
  width: 100%;
}

.text-center {
  text-align: center;
}

.sidebar-layout-container {
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
}

.sidebar-container {
  align-items: center;
  border-radius: 0;
  height: var(--full-screen-height);
  gap: 1rem;
  margin: 0;
  position: relative;
}

.sidebar-container :nth-child(2) {
  margin-top: var(--primary-primary-distance);
}

.tab-normal {
  color: var(--color-0);
}

.tab-active {
  background-color: var(--color-0);
  color: white;
}

.logo-container {
  width: 4rem;
  height: 4rem;
}

.medium-container {
  width: 100%;
}

.small-container {
  width: 100%;
}

.modal-container {
  width: 90%;
}

.title-font {
  font-size: var(--title-size);
  color: #323130;
}

.header-font {
  font-size: var(--header-size);
  color: #323130;
  font-weight: 600;
}

.sub-header-font {
  font-size: var(--sub-header-size);
  color: #323130;
  font-weight: 600;
}

.body-font {
  font-size: var(--body-size);
  color: #323130;
  font-weight: normal;
}

.text-word-wrap{
  width: 100%;
  overflow-wrap: break-word;
}

.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  
}

/* progress bar style */
.progress-bar {
  width: 100%;
  height: 0.7em;
  background-color: var(--color-3);
  border-radius: var(--secondary-border-radius);
  margin-bottom: 0.5rem;
}

.progress-bar-fill {
  height: 100%;
  text-align: center;
  font-size: 0.75rem;
  color: #fff;
  background-color: var(--color-0);
  border-radius: 9999px;
}

/* broder radius  */
.primary-border-radius {
  border-radius: var(--primary-border-radius);
}

/* form design */
.form-card {
  display: flex;
  flex-flow: column wrap;
  background-color: #ffffff;
  border-radius: var(--primary-border-radius);
  padding: 2em;
  align-items: flex-start;
  min-height: 80%;
}

.secondary-border-radius {
  border-radius: var(--secondary-border-radius);
}

.main-page-container {
  padding-top: calc(var(--navbar-height) + var(--navbar-bottom-margin));
  padding-bottom: var(--padding);
  padding-inline: var(--padding);
}

/* project-container */
.project-details-container {
  height: var(--top-content-height);
}

.project-details-container, .card-list-title-container{
  padding-inline: var(--padding);
}

.card-list-map-container{
  padding: var(--padding);
}

.task-list-container {
  width:100%;
  height: calc(100% - var(--top-content-height) - var(--padding));
  /* background-color: #8ec5fc; */
}

@media (max-width: 600px) {
  :root {
    --sidebar-width: 50vw;
    --top-content-height:19%;
  }
}

@media (min-width: 600px) {
  :root {
    --sidebar-width: 40vw;
    --top-content-height:17%;
  }

  .medium-container {
    width: 80%;
  }

  .small-container {
    width: 60%;
  }

  .modal-container {
    width: 70%;
  }

  .card-container {
    /* min-width: fit-content; */
    width: 31.33%;
  }

  .card-row-flex-container::after {
    content: "";
    width: 31.33%;
  }

  .main-page-container {
    padding-inline: var(--padding);
  }
}

@media (min-width: 800px) {
  .medium-container {
    width: 40%;
  }

  .small-container {
    width: 30%;
  }

  .modal-container {
    width: 30%;
  }

  .extra-small-container {
    width: 15%;
  }

  .smallest-container {
    width: 5%;
    text-align: center;
  }

  .card-container {
    /* min-width: fit-content; */
    width: 23.4%;
  }

  .card-row-flex-container::after {
    content: "";
    width: 23.4%;
  }

  .main-page-container {
    padding-inline: var(--padding);
  }

  /* project-container */
  /* .project-details-container {
    height: 10%;
  }

  .task-list-container {
    height: 88%;
  } */

  /* sidebar */
  :root {
    --sidebar-width: 20vw;
    --top-content-height:17%;
  }
}
