:root {
  --primary-border-radius: 0.7em;
  --secondary-border-radius: 0.4em;
  --primary-primary-distance:2rem;
  --primary-secondary-distance:1rem;
  --title-size: 2em;
  --header-size: 1.6em;
  --sub-header-size: 1em;
  --navbar-height:40px;
  --body-size: 0.8em ;  
  --color-0:#5E72EB;
  --color-1: #4B92FF;
  --color-2: #B7E3FF;
  --color-3: #E7EFF2;
  --color-blue: #B7E3FF;
  --color-red : #FFA1B3;
  --color-green: #CBF5AF;
  --background-color: #D9DBDD;
  --card-color:#F9F8FB;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* filter: invert(1); */
  }

/* hide scrollbar */
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}


  html {
    height: 100%;
  }
  
  body {
    margin: 0;
    height: 100%;
  }

  .testClass{
    border: 2px solid red !important;
  }
  .rainbow-mesh {
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  }
  
  .candy-mesh {
    background-color: var(--background-color);
  }
  /* .candy-mesh {
    background-color: #fff;
  } */

  .pure-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .glass {
    background: rgba(255, 255, 255, 0.19);
    border-radius: var(--primary-border-radius);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .card {
    border-radius: var(--primary-border-radius);
    padding: 10px;
    padding-top: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: var(--card-color);
  }

.column-flex-container{
  display: flex;
  flex-flow: column wrap;
}

.row-flex-container{
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.center-of-screen{
  justify-content: center;
  align-items: center;
}

.card-row-flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 2%;
  padding:1%
}

.card-container{
  width: 100%;
  /* height: 50%; */
}

.card-row-flex-container::after {
  content: "";
  width: 100%;
}
 
.text-center{
  text-align: center;
}


.sidebar-layout-container{
  width: 0;
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  z-index:10;
}

.sidebar-container{
  align-items: center;
  border-radius: 0;
  height: 100%;
  gap:1rem;
  margin:0;
  position:relative
}

.sidebar-container :nth-child(2) {
  margin-top: var(--primary-primary-distance);
}

.tab-normal{
  color: var(--color-0);
}

.tab-active{
  background-color: var(--color-0);
  color: white
}

.logo-container{
  width:4rem;
  height:4rem
}

.medium-container{
  width: 100%;
}

.small-container{
  width: 100%;
}

.title-font {
  font-size: var(--title-size);
  color: #333333;
}

.header-font {
  font-size: var(--header-size);
  color: #555555;
}

.sub-header-font {
  font-size: var(--sub-header-size);
  color: #777777;
}

.body-font {
  font-size: var(--body-size);
  color: #999999;
}


/* progress bar style */
.progress-bar {
  width: 100%;
  height: 0.7em;
  background-color: var(--color-3);
  border-radius: var(--secondary-border-radius);
  margin-bottom: 0.5rem;
}

.progress-bar-fill {
  height: 100%;
  text-align: center;
  font-size: 0.75rem;
  color: #fff;
  background-color: var(--color-0);
  border-radius: 9999px;
}

/* broder radius  */
.primary-border-radius {
  border-radius: var(--primary-border-radius);
}

/* form design */
.form-card {
  display: flex;
  flex-flow: column wrap;
  background-color: #ffffff;
  border-radius: var(--primary-border-radius);
  padding: 2em;
  align-items: flex-start;
  min-height: 80%;
}

.secondary-border-radius {
  border-radius: var(--secondary-border-radius);
}

.main-page-container{
  padding-top: calc(var(--navbar-height) + 10px);
  padding-bottom: 10px;
  padding-inline: 10px;
}

@media(min-width: 600px){
  .medium-container{
    width: 80%;
  }

  .small-container{
    width: 60%;
  }

  .card-container{
    /* min-width: fit-content; */
    width: 31.33%;
  }
  
  .card-row-flex-container::after {
    content: "";
    width: 31.33%;
  }

  .main-page-container{
    padding-inline: 0.5em;
  }

}

@media(min-width: 800px){
  .medium-container{
    width: 40%;
  }

  .small-container{
    width: 30%;
  }

  .extra-small-container{
    width: 15%;
  }

  .smallest-container{
    width: 5%;
    text-align: center;
  }

  .card-container{
    /* min-width: fit-content; */
    width: 23.40%;
  }
  
  .card-row-flex-container::after {
    content: "";
    width: 23.40%;
  }

  .main-page-container{
    padding-inline: 1em;
  }

}