@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* @supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
} */

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@layer components {
  /* component design system */
  .avatar-style {
    @apply w-16 h-16;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }

  /* font design system */
  /* Page header */
  h1 {
    @apply text-5xl md:text-7xl font-light tracking-wider font-title;
  }

  /* Section Header */
  h2 {
    @apply text-4xl md:text-5xl font-normal tracking-wider font-header;
  }

  /* Group Header */
  h3 {
    @apply text-sm md:text-base font-bold tracking-wider font-header;
  }

  /* h4 {
    @apply text-xl md:text-2xl tracking-wide font-header;
  }

  h5 {
    @apply text-lg md:text-xl  tracking-wide font-header;
  }

  h6 {
    @apply text-base md:text-lg  tracking-wide font-header;
  } */

  /* Paragraphs */
  p {
    @apply py-[0.5px] text-sm md:text-base font-normal font-body text-justify;
  }

  /* custom padding class */
  /* padding design system */
  .py-base {
    @apply py-1;
  }

  .px-base {
    @apply px-2;
  }

  .p-base-container {
    @apply px-base py-base;
  }

  /* constants : section header distance */
  .px-md {
    @apply px-2;
  }

  .py-md {
    @apply py-2;
  }

  .px-lg {
    @apply px-3;
  }

  .p-md-container {
    @apply py-2 px-3;
  }

  .py-lg {
    @apply py-4;
  }

  .px-lg {
    @apply px-5;
  }

  .p-lg-container {
    @apply py-lg px-lg;
  }

  .py-xl {
    @apply py-7;
  }

  .px-xl {
    @apply px-8;
  }

  .p-xl-container {
    @apply py-xl px-xl;
  }

  .px-2xl {
    @apply px-12;
  }
  .py-2xl {
    @apply py-8;
  }
  .p-2xl-container {
    @apply py-2xl px-2xl;
  }

  /* margin design system */

  .mb-base {
    @apply mb-1;
  }

  .mb-md {
    @apply mb-2;
  }

  .mb-lg {
    @apply mb-4;
  }
  .mb-xl {
    @apply mb-7;
  }

  /* gap design system */

  .gap-sm {
    @apply gap-1;
  }

  .gap-base {
    @apply gap-2;
  }

  /* constants : card gap */
  .gap-md {
    @apply gap-5;
  }

  /* constants : page section */
  .gap-lg {
    @apply gap-7;
  }

  .gap-xl {
    @apply gap-12;
  }

  .gap-2xl {
    @apply gap-20;
  }

  /* icon design system */
  .icon-xl {
    @apply text-3xl;
  }
  .icon-lg {
    @apply text-2xl;
  }
  .icon-md {
    @apply text-xl;
  }

  /* animation */
  .expand {
    @apply md:hover:tracking-[0.3rem] transition-all ease-in-out;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply min-h-screen;
  }

  body {
    @apply bg-background text-foreground min-h-screen;
  }
}
